<!doctype html>
<html lang='en'>

<head>
    <title>Shopping List</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>
    <style>
        [v-cloak] {
            display: none;
        }

        label {
            padding-left: .2em;
        }

        #quantity {
            width: 1.5em;
        }

        #buttoned {
            margin-right: .2em;
        }
    </style>
</head>

<body>
    <h1>Shopping List</h1>

    <div id='app' v-cloak>
        <label>Qty: <input type='text' id="quantity" v-model.number='item.qty'></label>
        <label>Item: <input type='text' v-model='item.item' @keyup.enter='addItem()'><button
                v-on:click='addItem()'>Add</button></label>
        <p v-if="itemList[0]">Item count: {{ itemList.length }}</p>
        <p v-if="!itemList[0]"><em>You have no items on your list.</em></p>
        <ul v-if="itemList[0]">
            <li v-for='(itemed, index) in itemList'><button id="buttoned" v-on:click='deleteItem(index)'>X</button>{{
                itemed.qty }} x
                {{itemed.item}}</li>
        </ul>
    </div>
</body>

</html>